@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dqvzi9');
  src:  url('../fonts/icomoon.eot?dqvzi9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dqvzi9') format('truetype'),
    url('../fonts/icomoon.woff?dqvzi9') format('woff'),
    url('../fonts/icomoon.svg?dqvzi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eight .path1:before {
  content: "\e900";
  color: rgb(59, 136, 195);
}
.icon-eight .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-five .path1:before {
  content: "\e902";
  color: rgb(59, 136, 195);
}
.icon-five .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-four .path1:before {
  content: "\e904";
  color: rgb(59, 136, 195);
}
.icon-four .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-a .path1:before {
  content: "\e906";
  color: rgb(59, 136, 195);
}
.icon-letter-a .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-a-none .path1:before {
  content: "\e908";
  color: rgb(212, 212, 212);
}
.icon-letter-a-none .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(149, 149, 149);
}
.icon-letter-b .path1:before {
  content: "\e90a";
  color: rgb(85, 1, 94);
}
.icon-letter-b .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-c .path1:before {
  content: "\e90c";
  color: rgb(59, 136, 195);
}
.icon-letter-c .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-d .path1:before {
  content: "\e90e";
  color: rgb(59, 136, 195);
}
.icon-letter-d .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-e .path1:before {
  content: "\e910";
  color: rgb(59, 136, 195);
}
.icon-letter-e .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-f .path1:before {
  content: "\e912";
  color: rgb(0, 61, 0);
}
.icon-letter-f .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-g .path1:before {
  content: "\e914";
  color: rgb(59, 136, 195);
}
.icon-letter-g .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-h .path1:before {
  content: "\e916";
  color: rgb(59, 136, 195);
}
.icon-letter-h .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-i .path1:before {
  content: "\e918";
  color: rgb(59, 136, 195);
}
.icon-letter-i .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-i-none .path1:before {
  content: "\e91a";
  color: rgb(212, 212, 212);
}
.icon-letter-i-none .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(149, 149, 149);
}
.icon-letter-j .path1:before {
  content: "\e91c";
  color: rgb(59, 136, 195);
}
.icon-letter-j .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-k .path1:before {
  content: "\e91e";
  color: rgb(59, 136, 195);
}
.icon-letter-k .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-k-none .path1:before {
  content: "\e920";
  color: rgb(212, 212, 212);
}
.icon-letter-k-none .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(149, 149, 149);
}
.icon-letter-l .path1:before {
  content: "\e922";
  color: rgb(59, 136, 195);
}
.icon-letter-l .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-l-none .path1:before {
  content: "\e924";
  color: rgb(212, 212, 212);
}
.icon-letter-l-none .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(149, 149, 149);
}
.icon-letter-m .path1:before {
  content: "\e926";
  color: rgb(59, 136, 195);
}
.icon-letter-m .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-m-none .path1:before {
  content: "\e928";
  color: rgb(212, 212, 212);
}
.icon-letter-m-none .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(149, 149, 149);
}
.icon-letter-n .path1:before {
  content: "\e92a";
  color: rgb(59, 136, 195);
}
.icon-letter-n .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-o .path1:before {
  content: "\e92c";
  color: rgb(59, 136, 195);
}
.icon-letter-o .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-p .path1:before {
  content: "\e92e";
  color: rgb(59, 136, 195);
}
.icon-letter-p .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-q .path1:before {
  content: "\e930";
  color: rgb(59, 136, 195);
}
.icon-letter-q .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-r .path1:before {
  content: "\e932";
  color: rgb(59, 136, 195);
}
.icon-letter-r .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-s .path1:before {
  content: "\e934";
  color: rgb(59, 136, 195);
}
.icon-letter-s .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-t .path1:before {
  content: "\e936";
  color: rgb(59, 136, 195);
}
.icon-letter-t .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-u .path1:before {
  content: "\e938";
  color: rgb(59, 136, 195);
}
.icon-letter-u .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-v .path1:before {
  content: "\e93a";
  color: rgb(59, 136, 195);
}
.icon-letter-v .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-w .path1:before {
  content: "\e93c";
  color: rgb(59, 136, 195);
}
.icon-letter-w .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-x .path1:before {
  content: "\e93e";
  color: rgb(59, 136, 195);
}
.icon-letter-x .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-y .path1:before {
  content: "\e940";
  color: rgb(59, 136, 195);
}
.icon-letter-y .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letter-z .path1:before {
  content: "\e942";
  color: rgb(59, 136, 195);
}
.icon-letter-z .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nine .path1:before {
  content: "\e944";
  color: rgb(59, 136, 195);
}
.icon-nine .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-one .path1:before {
  content: "\e946";
  color: rgb(59, 136, 195);
}
.icon-one .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seven .path1:before {
  content: "\e948";
  color: rgb(59, 136, 195);
}
.icon-seven .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-six .path1:before {
  content: "\e94a";
  color: rgb(59, 136, 195);
}
.icon-six .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-three .path1:before {
  content: "\e94c";
  color: rgb(59, 136, 195);
}
.icon-three .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-two .path1:before {
  content: "\e94e";
  color: rgb(59, 136, 195);
}
.icon-two .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zero .path1:before {
  content: "\e950";
  color: rgb(59, 136, 195);
}
.icon-zero .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu-icon:before {
  content: "\e952";
  color: #06c5fb;
}
.icon-menu-icon-active:before {
  content: "\e953";
  color: #fff;
}
.icon-search-svg:before {
  content: "\e954";
  color: #fff;
}
.icon-bars-chart .path1:before {
  content: "\e955";
  color: rgb(255, 195, 110);
}
.icon-bars-chart .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 195, 110);
}
.icon-bars-chart .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bars-chart .path4:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(165, 215, 110);
}
.icon-bars-chart .path5:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bars-chart .path6:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 71, 0);
}
.icon-bars-chart .path7:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 63, 0);
}
.icon-bars-chart .path8:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bars-chart .path9:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 255, 158);
}
.icon-bars-chart .path10:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(140, 255, 0);
}
.icon-bars-chart .path11:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path12:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path13:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path14:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path15:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path16:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path17:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path18:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart .path19:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-bars-chart .path20:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-bars-chart-1 .path1:before {
  content: "\e969";
  color: rgb(255, 215, 130);
}
.icon-bars-chart-1 .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 195, 110);
}
.icon-bars-chart-1 .path3:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(195, 230, 120);
}
.icon-bars-chart-1 .path4:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(165, 215, 110);
}
.icon-bars-chart-1 .path5:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 210, 255);
}
.icon-bars-chart-1 .path6:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(155, 230, 210);
}
.icon-bars-chart-1 .path7:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(120, 210, 190);
}
.icon-bars-chart-1 .path8:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.icon-bars-chart-1 .path9:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(210, 85, 90);
}
.icon-bars-chart-1 .path10:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(24, 189, 246);
}
.icon-bars-chart-1 .path11:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path12:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path13:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path14:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path15:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path16:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path17:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path18:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-bars-chart-1 .path19:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-bars-chart-1 .path20:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-line-graph .path1:before {
  content: "\e97d";
  color: rgb(239, 242, 250);
}
.icon-line-graph .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path3:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path4:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path5:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path6:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path7:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path8:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-line-graph .path9:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-line-graph .path10:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(143, 150, 172);
}
.icon-line-graph .path11:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path12:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path13:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path14:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path15:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path16:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path17:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path18:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path19:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path20:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path21:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path22:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path23:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path24:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path25:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path26:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-line-graph .path27:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-line-graph .path28:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-line-graph .path29:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.icon-line-graph .path30:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(195, 230, 120);
}
.icon-line-graph .path31:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(195, 230, 120);
}
.icon-line-graph .path32:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(195, 230, 120);
}
.icon-line-graph .path33:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(195, 230, 120);
}
.icon-line-graph .path34:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.icon-line-graph .path35:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.icon-line-graph .path36:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.icon-line-graphic .path1:before {
  content: "\e9a1";
  color: rgb(76, 88, 112);
}
.icon-line-graphic .path2:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(76, 88, 112);
}
.icon-line-graphic .path3:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(76, 88, 112);
}
.icon-line-graphic .path4:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(230, 226, 224);
}
.icon-line-graphic .path5:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(230, 226, 224);
}
.icon-line-graphic .path6:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(38, 154, 242);
}
.icon-line-graphic .path7:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(38, 154, 242);
}
.icon-line-graphic .path8:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(38, 154, 242);
}
.icon-line-graphic .path9:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(38, 154, 242);
}
.icon-pie-chart .path1:before {
  content: "\e9aa";
  color: rgb(240, 120, 90);
}
.icon-pie-chart .path2:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(240, 196, 25);
}
.icon-pie-chart .path3:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-pie-chart .path4:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(113, 194, 133);
}
.icon-stats .path1:before {
  content: "\e9ae";
  color: rgb(230, 230, 230);
}
.icon-stats .path2:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-stats .path3:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-stats .path4:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-stats .path5:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-stats .path6:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(252, 122, 81);
}
.icon-stats .path7:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(249, 222, 88);
}
.icon-stats .path8:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-stats .path9:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(252, 122, 81);
}
.icon-stats .path10:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(249, 222, 88);
}
.icon-stats .path11:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-stats .path12:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-stats .path13:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-stats .path14:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(110, 198, 235);
}
.icon-stats .path15:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(253, 165, 137);
}
.icon-stats .path16:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(251, 233, 142);
}
.icon-stats .path17:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-stats .path18:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-stats .path19:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-stats .path20:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(186, 186, 186);
}
.icon-stats .path21:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(206, 206, 206);
}
.icon-stats .path22:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(219, 219, 219);
}
.icon-stats .path23:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(164, 164, 164);
}
.icon-stats .path24:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(219, 219, 219);
}
.icon-stats .path25:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(159, 159, 159);
}
.icon-stats .path26:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(206, 206, 206);
}
.icon-stats .path27:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(178, 178, 178);
}
.icon-stats .path28:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(219, 219, 219);
}
.icon-stats .path29:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(249, 222, 88);
}
.icon-stats .path30:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-stats .path31:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(252, 122, 81);
}
.icon-stats .path32:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-stats .path33:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(43, 224, 198);
}
.icon-stats .path34:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(249, 222, 88);
}
.icon-stats .path35:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(252, 122, 81);
}
.icon-stats .path36:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-stats .path37:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-stats .path38:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(252, 122, 81);
}
.icon-stats .path39:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-stats .path40:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-stats .path41:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-stats .path42:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(110, 198, 235);
}
.icon-stats .path43:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-stats .path44:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(253, 165, 137);
}
.icon-stats .path45:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-stats .path46:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
