// css custom
@import '../../../../styles/variables';
#form-container {
    background-color: $color-white;
    padding: 15px 0 15px 15px;
    border: 1px solid $color-border-light;
    border-top: 0;
    margin-top: 1px;
}