<div class="form-container">
  <div class="frm-logo">
    <img src="/assets/images/logo_vnschool.jpg" />
    <!-- <span>Aventis</span> -->
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event, loginForm.value)" id="loginfrm" enctype="application/x-www-form-urlencoded">
    <div class="group-input">
      <label for="username" class="col-3">{{ 'Auth.UserName' | translate }}</label>
      <div class="col-7">
        <input type="text" name="username" [formControl]="username" placeholder="{{ 'Auth.UserName' | translate }}" class="txt">
      </div>
    </div>
    <div class="group-input">
      <label for="password" class="col-3">{{ 'Auth.Password' | translate }}</label>
      <div class="col-7">
        <input type="password" name="password" [formControl]="password" placeholder="{{ 'Auth.Password' | translate }}" class="txt">
      </div>
    </div>
    <div class="group-input">
      <div class="col-7 col-offset-3">
        <button type="submit" class="btn btn-default">{{ 'Auth.Login.Submit' | translate }}</button>
      </div>
    </div>

    <div class="group-input error-wrapper m-t-sm ">
      <label *ngIf="submitted && username.hasError('required')" class="error-label">{{ 'Auth.UserNameRequiredError' | translate }}</label>
    </div>
    <div class="group-input error-wrapper">
      <label *ngIf="submitted && password.hasError('required')" class="error-label">{{ 'Auth.PasswordRequiredError' | translate }}</label>
    </div>
  </form>

  <spinner [isRunning]="authSandbox.loginLoading$ | async"></spinner>
  
</div>

