@import '../../../styles/variables';
:host ::ng-deep body {
    background-color: $color-white;
}

.form-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px auto;
    width: 500px;   
    background: $color-default;
    border-radius: 5px;
    border: 1px solid #d7d8d9;
    .frm-logo {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding: 15px;
        text-align: center;
        margin: 0 0 20px;
        background: #d8e4ee;
        img {
            vertical-align: middle;
            width: 75%;
            margin-top: 14px;
            height: 125px;
        }
        span {
            font-size: 3em;
            vertical-align: middle;
            padding-left: 15px;
            letter-spacing: 5px;
            font-weight: 500;
            display: inline-block;
            transform: scale(1, 2.6);
        }
    }
    form#loginfrm {
        overflow: hidden;
        margin: 10px 0;
        padding: 10px;        
    }
}