<div class="action-toolbar">
    <dx-toolbar width="100%">
        <dxi-item locateInMenu="never" widget="dxButton" [template]="'itemAddNewTemplate'" [visible]="isNew"></dxi-item>
        <dxi-item locateInMenu="never" widget="dxButton" [template]="'itemDeleteTemplate'" [visible]="isDelete"></dxi-item>
        <dxi-item locateInMenu="never" widget="dxButton" [template]="'itemSaveTemplate'" [visible]="isSave"></dxi-item>

        <div *dxTemplate="let temp of 'itemAddNewTemplate'">
            <dx-button 
                id="action-addnew" 
                name="action-addnew" 
                text="New" 
                (onClick)="onActionClick.addNew($event)" 
                icon="fa fa-plus" width="100%">
            </dx-button>
        </div>

        <div *dxTemplate="let temp of 'itemDeleteTemplate'">
            <dx-button 
                id="action-delete" 
                name="action-delete" 
                text="Delete" 
                (onClick)="onActionClick.delete($event)" 
                icon="fa fa-times"
                width="100%">
            </dx-button>
        </div>

        <div *dxTemplate="let temp of 'itemSaveTemplate'">
            <dx-button 
                id="action-save" 
                name="action-save" 
                text="Save" 
                (onClick)="onActionClick.save($event)" 
                icon="fa fa-floppy-o"
                width="100%">
            </dx-button>
        </div>
    </dx-toolbar>
</div>