
<app-person-layout>
    <app-navbars 
        [titlePage]="titlePage">
        <app-action-toolbars
        [isNew]="true" 
        (onNew)="onToolbarAction.onAddNew('/persons/create')">
        </app-action-toolbars>
    </app-navbars>

    <page-content>
        <div body>
            <app-person-list 
                [personsData]="personsSandbox.persons$ | async" 
                (onRowClick)="onSelect($event)">
            </app-person-list>
        
            <spinner [isRunning]="personsSandbox.personsLoading$ | async"></spinner>
        </div>
    </page-content>
    
</app-person-layout>