<app-person-layout>

    <app-navbars 
        [titlePage]="titlePage" 
        [isBack] = "true">
        <app-action-toolbars 
            [isSave]="true"
            (onSave)="onToolbarAction.onSave(person)">
        </app-action-toolbars>
    </app-navbars>

    <page-content>
        <div body>
            <app-person-form 
                [formData]="person">
            </app-person-form>
            
            <spinner [isRunning]="personsSandbox.statusAdding$ | async"></spinner>
        </div>
    </page-content>

</app-person-layout>