<app-person-layout>

    <app-navbars 
        [isBack] = "true"
        [titlePage]="titlePage">
        <app-action-toolbars
        [isNew]="true" 
        [isDelete]="true" 
        [isSave]="true"
        (onNew)="onToolbarAction.onAddNew('/persons/create')"
        (onDelete)="onToolbarAction.onDelete(person.id)"
        (onSave)="onToolbarAction.onSave(person)">
        </app-action-toolbars>
    </app-navbars>

    <page-content>
        <div body>
            <app-person-form 
                [formData]="person">
            </app-person-form>
            
            <!-- NOT IMPLEMENT -->
            <!-- <spinner [isRunning]="personsSandbox.statusUpdating$ | async"></spinner> -->
        </div>
    </page-content>
    
</app-person-layout>
