<app-layout [isNavbar]="true">
    <section>
        <app-navbars [titlePage]="titlePage">            
        </app-navbars>

        <page-content>
            <div header>
                <h1>{{ titlePage }}</h1>
            </div>
            <div body>
                <div>class-management</div>
            </div>
        </page-content>
        
    </section>
</app-layout>