@import "../../../../styles/variables";

.pageGateWay {
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-theme-violet;
  background: $color-theme-violet url(/assets/images/stars.png) center center;
  background-size: 100%;

  .pageGateWay-content {
    position: absolute;
    width: 550px;
    text-align: center;
    left: 50%;
    margin-left: -275px;
    top: 50%;
    margin-top: -230px;
  }

  img {
    width: 22%;
  }

  h1 {
    color: $color-white;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  h3 {
    color: $color-white;
    font-weight: 100;
    font-size: 22px;
    margin: 0;
  }

  button {
    text-transform: uppercase;
    background: none;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 5px;
    padding: 8px 30px;
    margin-top: 30px;
    outline: none;

    &:hover {
      background-color: $color-theme-darkviolet;
    }
  }
}