<app-layout [isNavbar]="false">
    <section>
        <app-navbars [titlePage]="titlePage">            
        </app-navbars>

        <page-content>
            <div header>
                <dossier-nav-filters
                    [filter]="dossierSandbox.filterDossier$ | async"
                    (onValuedActive) ="dossierSandbox.OnFiltersChanged.onCkbActive($event)"
                    (onValuedClosed) ="dossierSandbox.OnFiltersChanged.onCkbClosed($event)"
                    (onValuedArchived) ="dossierSandbox.OnFiltersChanged.onCkbArchived($event)"
                    (onValuedIncludeGroup) ="dossierSandbox.OnFiltersChanged.onCkbIncludeGroup($event)"
                    (onValuedIncludeGuest) ="dossierSandbox.OnFiltersChanged.onCkbIncludeGuest($event)"
                    (onValuedIncludeTasks) ="dossierSandbox.OnFiltersChanged.onCkbIncludeTasks($event)">
                </dossier-nav-filters>
            </div>
            <div body>
                <app-tree-list [TreesData]="dossierSandbox.dossierDatas$ | async">
                </app-tree-list>
                <spinner [isRunning]="dossierSandbox.dossierLoading$ | async"></spinner>
            </div>
        </page-content>
        
    </section>
</app-layout>