.btn {
    width: 100px;
    height: 30px;
    padding: 5px;   
    opacity: 0.75;
    cursor: pointer;    
    &:focus {
       outline: none;
    }  
    &:hover {
        opacity: 1;
    }
}

.btn-default {
    background: darken($color: $color-default, $amount: 5);
    border: 1px solid darken($color: $color-default, $amount: 9);
    color: $color-black;
}

.btn-primary {
    background: $color-primary;
    border: 1px solid darken($color: $color-primary, $amount: 9);
    color: $color-white;
}

div.group-input {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    input[type=text],
    input[type=password], 
    select {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 30px;
        padding: 5px;
    }
    label {
        height: 30px;
        display: grid;
        align-content: center;
    }
}
