@import '../reset';
@import '../variables';
@import '../mixins-css3';
@import '/forms';
@import '/grids';
@import '/controls';
@import '/utilities';
@import '/repositories';

body {
    font-family: $base-ft;
    font-size: $base-fz;
    font-weight: $base-fw;
    color: $color-black;
    background-color: $color-bg-body;
    overflow: hidden;
}

.wrapper-main {
    position: relative;
    &.toggle--sidebar {
        .sidebar {
            width: 15px;
            >.sider-bar-panel-hidden {
                background-color: darken($color: $color-bg-body, $amount: 10);
                >.sidebar-content {
                    p {
                        display: block!important;
                    }
                }
            }
            >.sider-bar-panel-content {
                .sidebar-header {
                    h3 {
                        display: none;
                    }
                }
            }
        }
        #wrapper-content {
            width: calc(100% - 15px);
        }
    }
}

#app-navbar {
    height: 45px;
    background: $color-base;
    color: $color-white;    
    border-top: 1px solid $color-grey-light;
    right: 5px;
    left: 5px;
    position: absolute;
}

.layout-content {
    position: relative;
    margin: 45px 0;
    height: 100vh;
    width: 100%;

    #sidebar {

    }

    #wrapper-content {
        width: calc(100% - 245px);
        padding: 0;
        height: 100%;
        position: relative;
        float: left;
        @include css3-prefix(transition, width 0.9s);
        > h1 {
            margin: 15px 0 5px 0;
            padding: 5px 0;
            font-size: 24px;
            border-bottom: 1px solid $color-grey-light;
        }
        section {
            padding: 0;

            .page-content {
                position: absolute;
                top: 45px;
                right: 5px;
                left: 5px;
                bottom: 0;
                bottom: 100px;

                .inner {
                    position: relative;
                    height: 100%;
                }
                
                .ms-Viewport {
                    overflow: auto;  
                    &.full-height {
                        height: 100%;
                        position: relative;
                    }           
                }
            }
        }         
        
    }
}

.sidebar {
    .dx-treeview .dx-treeview-item {
        padding: 0!important;
    }
}
