<div class="wrapper-main" #wrapperContainer>
    <app-header 
        (selectLanguage)="layoutSandbox.selectLanguage($event)" 
        (logout)="layoutSandbox.logout()" 
        [selectedLanguage]="layoutSandbox.selectedLang$ | async"
        [availableLanguages]="layoutSandbox.availableLanguages$ | async" 
        [userImage]="userImage" [userEmail]="userEmail"
        [itemMenus]="layoutSandbox.itemMenus$ | async" (selectMenu)="layoutSandbox.selectMenu($event)"
        [searchBoxsData]="layoutSandbox.searchBoxsData$ | async">
    </app-header>
    
    <div class="layout-content">    
        <navigation [isNavbar]="isNavbar" [wrapperContainer]="wrapperContainer"></navigation>    
        <section id="wrapper-content">
            <ng-content></ng-content>
        </section>
    </div>
</div>