<div class="sidebar">
  <div class="sider-bar-panel-content">
    <div class="sidebar-header">
        <h3>{{ 'Navigator.Title' | translate}}</h3>
    </div>
    <div class="sidebar-content">
      
      <app-sidebar-menu></app-sidebar-menu>   

    </div>
  </div>
  <div class="sider-bar-panel-hidden" (click)="toggleNavigator(isNavbar, $event)">
    <div class="sidebar-header">
      <i class="fa fa-bars"></i>
    </div>
    <div class="sidebar-content">
      <p>
        {{ 'Navigator.Title' | translate}}
      </p>
    </div>
  </div>
  
</div>