@import "../../../../styles/variables";
@import '../../../../styles/mixins-css3';

.sidebar {
    overflow: hidden;
    height: 100%;
    width: 245px;
    transition-duration: 0.3s;
    background-color: darken($color: $color-bg-body, $amount: 5);
    @include css3-prefix(transition, width 0.9s);
    float: left;
    .sidebar-content {
        position: relative;
        overflow: auto;
        height: 100vh;
        
        &:hover {
            &::-webkit-scrollbar
            {
                width: 10px;  /* for vertical scrollbars */
                height: 10px; /* for horizontal scrollbars */    
            }           
            &::-webkit-scrollbar-track
            {
            background: rgba(0, 0, 0, 0.1);
            }

            &::-webkit-scrollbar-thumb
            {
            background: rgba(0, 0, 0, 0.3);
            }
        }

        &::-webkit-scrollbar
        {
        width: 5px;  /* for vertical scrollbars */
        height: 5px; /* for horizontal scrollbars */   
        @include css3-prefix(transition, width 0.9s);  
        @include css3-prefix(transition, height 0.9s);  
        }

        &::-webkit-scrollbar-track
        {
        background: rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-thumb
        {
        background: rgba(0, 0, 0, 0.2);
        }
    }
    .sidebar-header {
        height: 45px;
        background: transparent;
        color: $color-white;
        width: 100%;
        border-top: 1px solid $color-grey-light;
    }
    > div {
        height: 100%;
    }
    >.sider-bar-panel-content {
        >.sidebar-header {
            background: darken($color: $color-base, $amount: 5);
            h3 {
                padding: 15px;
            }
        }
        float: left;
        width: calc(100% - 15px);
    }
    >.sider-bar-panel-hidden {
       
        >.sidebar-header {
            background: darken($color: $color-base, $amount: 10);
            i {
                vertical-align: middle;
				margin-top: 12px;
				margin-left: 0;
				width: 100%;
				font-size: 17px;
            }
        }
        float: right;
        width: 15px;
        cursor: e-resize;
        >.sidebar-content {
            p {
                margin: 0;
                font-size: 12px;
                @include css3-prefix('transform', rotate(-90deg));
                -webkit-transform: rotate(-90deg);
                min-width: 100px;
                left: -45px;
                position: absolute;
                top: 45px;
                text-align: center;
                display: none;
            }            
        }
		&:hover {
			background-color: darken($color: $color-bg-body, $amount: 10);
			opacity: .8;
		}
    }
}
