<div id="nav-filters">
    <div class="filter-container">

        <div class="filter-control">
            <dx-check-box
            [(value)]="filter.Active"
            name="ckbActive"
            text="{{'DossierFilter.Active' | translate}}"
            (onValueChanged)="onFiltersChanged.ckbActive($event)">
            </dx-check-box>
        </div>

        <div class="filter-control">
            <dx-check-box
            [(value)]="filter.Closed"
            name="ckbClosed"
            text="{{'DossierFilter.Closed' | translate}}"
            (onValueChanged)="onFiltersChanged.ckbClosed($event)">
            </dx-check-box>
        </div>

        <div class="filter-control">
            <dx-check-box
            [(value)]="filter.Archived"
            name="ckbArchived"
            text="{{'DossierFilter.Archived' | translate}}"
            (onValueChanged)="onFiltersChanged.ckbArchived($event)">
            </dx-check-box>
        </div>  

        <div class="filter-control">        
            <dx-check-box
            [(value)]="filter.IncludeGroup"
            name="ckbIncludeGroup"
            text="{{'DossierFilter.IncludeGroup' | translate}}"
            (onValueChanged)="onFiltersChanged.ckbIncludeGroup($event)">
            </dx-check-box>
        </div>

        <div class="filter-control">
            <dx-check-box
            [(value)]="filter.IncludeGuest"
            name="ckbIncludeGuest"
            text="{{'DossierFilter.IncludeGuest' | translate}}"
            (onValueChanged)="onFiltersChanged.ckbIncludeGuest($event)">
            </dx-check-box>
        </div>

        <div class="filter-control">
            <dx-check-box
            [(value)]="filter.IncludeTasks"
            name="ckbIncludeTasks"
            text="{{'DossierFilter.IncludeTasks' | translate}}"
            (onValueChanged)="onFiltersChanged.ckbIncludeTasks($event)">
            </dx-check-box>
        </div>

    </div>
</div>