@import '../../../styles/variables';
#nav-filters {
    height: 40px;
    margin: 2px 0 6px;
    .filter-container {
        padding: 10px 0;
        float: left;
        background: $color-white;
        border: 1px solid $color-border-light;
        .filter-control {
            float: left;
            padding: 0 15px; 
        }
    }
}