/* Colors definition */
$color-black: #000;
$color-white: #fff;
$color-grey-ultralight: #f9f9f9;
$color-grey-verylight: #ebebeb;
$color-grey-light: #ccc;
$color-grey: #869ba6;
$color-grey-dark: #6d6f70;
$color-grey-verydark: #333;
$color-red: #ee5a5a;
$color-redLight: #f57676;
$color-border-light: #ddd;

/* Site specific */
$color-theme-black: #2f2f30;
$color-theme-grey: #DEE9EE;
$color-theme-blue: #87bcd3;
$color-theme-lightBlue: #def5ff;
$color-theme-violet: #353535;
$color-theme-darkviolet: #2a2a2a;

// The path
$path: "/assets";
$path-image: "#{$path}/images";
$path-icon: "#{$path}/icon";

$color-base-hover:    lighten(#337ab7, 35%);//#337ab7;//06c5fb
$color-base:    #337ab7;
$color-lightgray:   #ebebeb;
$base-ft:       "Helvetica Neue","Segoe UI",Helvetica,Verdana,sans-serif;
$base-fz:        14px;
$base-fw:        500;
$padding-content: 15px;
$header-height: 60px;
$dx-border-color: #dddddd;
$dx-focus-border-color: $color-base;
$base-border-color: $color-base;
$color-bg-body: #f1f1f1;

// button
$color-default: #E5EDF4;
$color-primary: $color-base;

// data grid
$table-heade-bg:            #6a6a6a;//b7b7b7
$table-head-fz:             $base-fz + 2;
$table-head-color:          #ffffff;
$table-row-border-color:    #ebebeb;
$table-row-color:           #000000;
$table-row-hover:           #b2b2b2;
$table-row-selected:        #ceecff;//fff8e8
$table-row-font-weight:        $base-fw;

//Header
$color-total-notification: #c74204;//f05a1f
$color-lable-user: #3e5876;//989898
$url-icon-user: '#{$path-icon}/user-male-black-shape.png';
$url-icon-bell: '#{$path-icon}/bell.png';

//search Box
$searchbox-input-color-bg:#ebebeb;
$searchbox-popup-content-color-bg:#004a63;
$searchbox-header-group-color-border-bottom:#003040;
$searchbox-header-group-color-bg:#004a63;
$searchbox-body-group-color-bg:#016587;
$searchbox-item-body-color-bg:#016584;
$searchbox-item-selected-active-color-bg:#e9f8ff;
$searchbox-transition-width: .2s;

//Layout Left
$color-layout-left-bg: #eeeeee;
$menulefft-title-color-bg: #337ab7;//06c5fb

// Component Menu Dosiers
$color-border-top-node-treeview: #f1f1f1;
$icon-treeview-toggle-opened:"\f016";
$icon-treeview-toggle-close:"\f010";
$color-node-treeview-focused:#ceecff;
$url-icon-popover: '#{$path-icon}/menu-ver.png';
$url-icon-popover-white: '#{$path-icon}/menu-ver-w.png';
$height-left-menu-dosiers: 200px;
$height-left-menu-dosiers-scenario: 100px;

// form details
$form-detail-label-color:         #3e5876;//525252
$col-padding-right-not-last-col: 85px; // + 15px padding-right = 100px
$dxform-detail-border-color: $color-lightgray;