<div class="sidebar-menu">
    <div class="sidebar-menu-container">
        <dx-tree-view #sidebar
            id="sidebar-menu-container"
            [items]="sidebarMenus"
            dataStructure="plain"
            parentIdExpr="parentId"
            keyExpr="id"
            displayExpr="name"
            width="100%"
            height="auto"
            selectionMode="single"
            focusStateEnabled="false">
            
            <div *dxTemplate="let data of 'item'">
                <a *ngIf="!data.url" class="not-actives">
                    <i class="fa {{ data.iconFa }}"></i>
                    <span>{{data.name}}</span>
                </a>
                <a *ngIf="data.url" routerLink="{{ data.url }}" routerLinkActive="current" class="{{ data.disabledClick == true ? 'not-active' : '' }}">
                    <i class="fa {{ data.iconFa }}"></i>
                    <span>{{data.name}}</span>
                </a>
            </div>
        </dx-tree-view>       
    </div>
</div>