@import "../../../../styles/variables";
@import '../../../../styles/mixins-css3';

.sidebar-menu {
    overflow: auto;
    margin-bottom: 10px;
    height: auto;
    a {
        display: block;
        height: 32px;
        padding: 5px;
        color: $color-black;
        opacity: 0.7;
        border-bottom: 1px solid $color-grey-light;
        text-decoration: none;
        i {
            width: 15px;
        }
        > span {
            margin-left: 5px;
        }
        &:hover {
            background-color: #F5F5F5;
        }
        &.current {
            opacity: 1;
            background-color: #F5F5F5;
        }
        &.not-active {
            pointer-events: none;
            cursor: default;
        }
    }    
} 