<div [hidden]="!isRunning" class="spinner">
    <div class="spinner-inner-wrapper" [ngClass]="{'spinner-small': isSmall}">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>