<div class="trees-list">
    <dx-tree-list id="navigator-tree" 
    [dataSource]="TreesData" 
    keyExpr="id" parentIdExpr="parentId" [showRowLines]="true" [columnAutoWidth]="true" [autoExpandAll]="true">

        <dxi-column dataField="id" caption="ID"></dxi-column>
        <dxi-column dataField="parentId" caption="Parent ID"></dxi-column>
        <dxi-column dataField="type" caption="Type"></dxi-column>
        <dxi-column dataField="iconId" caption="IconID"></dxi-column>
        <dxi-column dataField="name" caption="Name"></dxi-column>
        <dxi-column dataField="baPersonId" caption="BaPersonID"></dxi-column>
        <dxi-column dataField="userId" caption="UserID"></dxi-column>
        <dxi-column dataField="b" caption="B"></dxi-column>
        <dxi-column dataField="f" caption="F"></dxi-column>
        <dxi-column dataField="s" caption="S"></dxi-column>
        <dxi-column dataField="i" caption="I"></dxi-column>
        <dxi-column dataField="m" caption="M"></dxi-column>
        <dxi-column dataField="a" caption="A"></dxi-column>
        <dxi-column dataField="k" caption="K"></dxi-column>
        <dxi-column dataField="ahvNummer" caption="AHVNummer"></dxi-column>
        <dxi-column dataField="faLeistungId" caption="FaLeistungID"></dxi-column>
        <dxi-column dataField="versichertennummer" caption="Versichertennummer"></dxi-column>
    </dx-tree-list>
</div>
