<section id="app-navbar">
    <div id="navbars-wrapper">
        <a (click)="goBack()" *ngIf="isBack" title="{{ 'BackBtn' | translate }}">
           <i class="fa fa-2x fa-long-arrow-left"></i>
        </a>
        <h3>{{titlePage}}</h3>

        <div class="tool-bars">
            <ng-content></ng-content>
        </div>
    </div>
</section>