<div id="siderbar-tabs">
    <div class="sidebar-container">
        <dx-list
            [items]="tasks"
            [height]="200"
            [allowItemDeleting]="allowDeleting"
            [itemDeleteMode]="deleteType"
            [showSelectionControls]="true"
            [selectionMode]="selectionMode"
            (onItemClick)="onItemClick($event)">
        </dx-list>
    </div>
</div>