<div class="profileActionBar">
    <div class="profileActionBar-anchor">
        <a class="profileActionBar-imgWrapper">
            <img src="{{ userImage }}" alt="">
        </a>
        <span>{{ userEmail }}</span>
        <span (click)="logout.emit($event)" class="profileActionBar-logout">{{ 'ProfileActionBar.Logout' | translate }}</span>
    </div>
</div>