<header class="wrap-header">
    <div class="header-container">
        <div class="header-logo">
            <!-- Logo display-->
            <a class="logo" title="vns_school" tabindex="1" routerLink="/">
                <img src="/assets/images/logo_vnschool.jpg" title="Aventis">
                <!-- <span>vns_school</span> -->
            </a>           
    
        </div>

        <div id="nav-collapse-toggle" (click)="onToggleNav(isToggleNav, $event)">
            <i class="fa fa-2x fa-angle-double-down"></i>
        </div>

        <div class="nav-collapse">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="header-menu">
                <kiss-menu-header tabindex="2" [itemMenus]="itemMenus" (select)="selectMenu.emit($event)">loading menu...</kiss-menu-header>
            </div>    

            <div class="header-languageSelectorWrapper float-right">
                <language-selector (select)="selectLanguage.emit($event)" [selectedLanguage]="selectedLanguage" [availableLanguages]="availableLanguages">
                </language-selector>
            </div>  
            
            <div class="header-profileBarWrapper float-right">
                <profile-action-bar (logout)="logout.emit($event)" [userImage]="userImage" [userEmail]="userEmail">
                </profile-action-bar>
            </div>
            
            <div class="header-search-box float-right">
                <kiss-search-box class="header-search" [searchBoxsData]="searchBoxsData">loading search...</kiss-search-box>
            </div>              
        </div>       
    </div>
</header>