@import "../../../../styles/variables";
@import '../../../../styles/mixins-css3';
.wrap-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 45px;
    background: $color-white;
    @include css3-prefix(box-shadow, 0px 3px 7px 0px rgba(0, 0, 0, 0.24));
    >.header-container {
      padding: 0 15px;
      height: 100%;
      >.nav-collapse {
        > div {
          float: left;
        }
        &.toogle--nav {
          display: block;
        }
      } 
      #nav-collapse-toggle {
        display: none;
        width: 40px;
        height: 40px;
        float: right;
        text-align: center;
        padding: 5px 0 0;        
      }
    }
}

.header-logo {  
  padding: 5px 0;
  width: 245px;
  float: left;
  a.logo {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 25px 0;
    text-align: center;
    
    img {
      vertical-align: middle;
      height: 70px;
      width: 176px;
      zoom: 1.2;
      margin-top: -18px;
    }
    span {
      font-size: 1.8em;
      vertical-align: middle;
      padding-left: 5px;
      letter-spacing: 1px;
      font-weight: 500;
      display: inline-block;
    }
  }
}

.header-menu {
  padding: 5px 0;
}

.header-profileBarWrapper {
  padding: 5px 0;
}

.header-languageSelectorWrapper {
  padding: 5px 0;
}

.header-arrow-notification {
  padding: 5px 0;
}

.header-search-box {
  padding: 5px 0;
}