<div id="languageSelectorWrapper">
    <button (click)="onToggle()" 
    class="language-selector-anchor" 
    [ngClass]="{'active': show}" 
    data-toggle="lang-dropdown">
        {{selectedLanguage}}
    </button>

    <div class="dropdown-pane top" 
    id="lang-dropdown" 
    data-dropdown 
    *ngIf="show">
        <span *ngFor="let lang of availableLanguages" 
        (click)="selectLanguage(lang)">
            {{ lang.name }}
        </span>
    </div>

</div>